/* ---------------------------------------------

CSS Table of Contents 

#GLOBAL CSS
    #TYPOGRAPHY
    #COLOR
    #LINKS
    #BUTTONS

------------------------------------------------*/
/* HEADINGS */
h1 {
  font-family: 'moderno-fb', serif;
  font-size: 3em;
  margin: .5em 0;
  line-height: 1; }

h2 {
  font-family: 'quiche-sans', sans-serif;
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1em;
  line-height: 1.2; }

p {
  max-width: 35em; }

/* BODY */
body {
  font-family: 'quiche-sans', sans-serif;
  font-size: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.8); }

a {
  color: #060; }

a:hover {
  color: #035; }

/* HORIZONTAL RULE */
hr {
  border: 0;
  height: 1px;
  background-color: rbga(0, 0, 0, 0.15);
  margin: 3em; }

/* TYPE SPECIMEN */
.mainhead {
  font-size: 6em; }

button,
.button {
  background-color: #060;
  color: #ffffff;
  font-family: "quiche-sans", sans-serif;
  font-size: inherit;
  line-height: 1;
  padding: 1em;
  display: inline-block;
  margin: .5em;
  border-radius: 2em;
  border: 1px solid #060; }
  button:hover,
  .button:hover {
    background-color: #035;
    color: #FFFFFF;
    border-color: #035; }
  button:alt,
  .button:alt {
    color: #035;
    background-color: #7ab87a; }

/* Responsive Image */
img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto; }

@media (min-width: 786px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1050px; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; } }

/* Grid */
.row .column {
  margin-bottom: 2%; }

@media (min-width: 786px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .column {
    color: lightseagreen;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1%; } }

.row.demo .column {
  background: rgba(0, 0, 0, 0.3);
  padding: 1em;
  text-align: center; }

body {
  background-color: #7ab8ab; }
