/* HEADINGS */
h1, h2, h3 {
    font-family: $heading-font-family;
    margin: .5em 0;
    font-weight: 400;
}
h1 {
    font-size: 3em;
    margin: .5em 0;
    line-height:1 ;
}

h2 {
    font-size: 2em;
    line-height: 1.1;
}

h3 {
    font-size: 1em;
    line-height: 1.2;
}

p {
    max-width: 35em;
}

/* BODY */
body {
    font-family: 'quiche-sans', sans-serif;
    font-size: 100%;
    line-height: 1.4;
    color: $color-text-body;
}

// LNKS
a { color: $color-links;}
a:hover { color: $color-links-dark;}


/* HORIZONTAL RULE */
hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 4em 0;
}

/* HELPER */
.section-head {
    font-family: $body-font-family;
    text-align: center;
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: 3em;
}

.section-head::after {
    content: "";
    display: block;
    height: 5px;
    width: 100px;
    margin: .5em auto;
    background: $color-accent;
}

.meta {
    display: block;
    font-size: .7em;
    color: $color-midgrey;
    margin: 0 0 1em 0;
}

/* TYPE SPECIMEN */
.mainhead {
    font-size: 6em;
    color: $color-accent;
    margin-bottom: 0;
}

.subhead {
    font-family: $body-font-family;
    color: $color-midgrey;
    margin-bottom: 1em;
}